@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
  --color-primary: #5C56E1;
  --color-primary-dark: #5b21b6;
  --color-accent: #8B5CF6;
  --color-card: #FFFFFF;
  --color-input: #F1F1FF;
  --color-text: #09090E;
  --color-placeholder: #5C5A87;
  --color-border: #D4D4ED;
  --color-gradient: linear-gradient(135deg, #5C56E1, #8B5CF6);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 15px;
    color: var(--color-text);
    background: linear-gradient(#E9E9FF , #C8C7FF);
}

.container{
    width: 900px;
    padding: 32px;
    border-radius: 23px;
    background: var(--color-card);
}

.container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: var(--color-gradient)
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo-wrapper{
    display: flex;
    gap: 18px;
    align-items: center;
}

.header .logo-wrapper .logo{
    height: 55px;
    width: 56px;
    display: flex;
    color: white;
    font-size: 1.35rem;
    flex-shrink: 0;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background: var(--color-gradient);
}

.header .logo-wrapper h1{
    font-size: 1.9rem;
    font-weight: 700;
}

.header .theme-toggle{
    height: 43px;
    width: 43px;
    border-radius: 50%;
    font-size: 1.05rem;
    cursor: pointer;
    display: flex;
    color: var(--color-placeholder);
    justify-content: center;
    align-items: center;
    background: var(--color-input);
    border: 1px solid var(--color-border);
    flex-shrink: 0;
}

.header .theme-toggle:hover{
    color: var(--color-primary);
    transform: translateY(-2px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.main-content{
    margin: 35px 0 5px;
}

.main-content .prompt-container{
    width: 100%;
    margin-bottom: 20px;
}

.prompt-container .prompt-input{
    width: 100%;
    resize: vertical;
    line-height: 1.6;
    font-size: 1.05rem;
    min-height: 120px;
    padding: 16px 20px;
    border-radius: 15px;
    color: var(--color-placeholder);
    background: 1px solid var(--color-input);
    border: 1px solid var(--color-border); 
    transition: all 0.3s ease;
}

.prompt-container .prompt-input::placeholder{
    color: var(--color-placeholder)

}
.prompt-container .prompt-input:focus{
    outline: none;
    border-color: var(--color-accent);
    box-shadow: 0 0 0 4px rgba(132, 92, 246, 0.15);
}

.prompt-container .prompt-btn{
    position: absolute;
    right: 15px;
    bottom: 15px;
    height: 35px;
    width: 35px;
    border: none;
    color: #fff;
    font-size: 0.75rem;
    border-radius: 50%;
    opacity: 0.8;
    background: var(--color-gradient);
    transition: all 0.3s ease;
}

.prompt-container .prompt-btn:hover{
    opacity: 1;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.main-content .prompt-actions{
    display: grid;
    gap: 14px;
    grid-template-columns: 1.2fr 1fr 1.1fr 1fr;

}

.prompt-actions .select-wrapper{
    position: relative;
}

.prompt-actions .select-wrapper::after {
    content: "\f078";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    right: 20px;
    top: 50%;
    padding-left: 7px;
    pointer-events: none;
    color: var(--color-placeholder);
    transform: translateY(-50%);
}

.prompt-action :where(.custom-select, .generate-btn) {
    cursor: pointer;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 10px;
    background: var(--color-input);
    border: 1px solid var(--color-border);
}

.prompt-action .custom-select{
    width: 100%;
    outline: none;
    height: 100%;
    appearance: none;

}

.prompt-action .generate-btn{
    display: flex;
    gap: 12px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    padding: 12px 25px;
    border: none;
    color: #fff;
    background: var(--color-gradient);
}

.prompt-action .generate-btn:hover{
    background: var(--color-primary-dark);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(109, 40, 217, 0.3);
}